{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{abc.img.url}}" width="300" height="300">
        </div>

<div class="col-md-6">
    <h2>{{abc.name}}</h2>
    <h5>{{abc.desc}}</h5>
    <h2>{{abc.year}}</h2>
    <a class="btn btn-warning" href="{% url 'movieapp:update' abc.id%}">update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' abc.id%}">delete</a>
</div>


   </div>
</div>
{% endblock %}